.dashboard .row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.dashboard .col {
  padding-right: 15px;
  padding-left: 15px;
  flex: 1;
  min-width: 180px;
}

.card {
  background-color: #fff;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0 7px 50px rgb(214, 223, 213);
}

.card-body {
  padding: 1.25rem;
}

.card-title {
  margin-bottom: 0.75rem;
  font-size: 1.5rem;
}

.card-text {
  font-size: 1rem;
  color: #666;
}

.chart-container {
  margin-top: 30px;
  padding: 1rem;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 7px 50px rgb(214, 223, 213);
  overflow: scroll;
}

.chart-container h2 {
  margin: 1rem;
}

/* dailyUserTracking Table  */

.dailyUserTracking {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 16px;
  text-align: left;
}

.dailyUserTracking th,
.dailyUserTracking td {
  padding: 12px 15px;
  border: 1px solid #ddd;
}

.dailyUserTracking thead {
  background-color: #f4f4f4;
}

.dailyUserTracking th {
  background-color: #f8f8f8;
  color: #333;
}

.dailyUserTracking tr:nth-child(even) {
  background-color: #f9f9f9;
}

.dailyUserTracking tr:hover {
  background-color: #f1f1f1;
}

@media screen and (max-width: 768px) {
  .dailyUserTracking,
  .dailyUserTracking thead,
  .dailyUserTracking tbody,
  .dailyUserTracking th,
  .dailyUserTracking td,
  .dailyUserTracking tr {
    display: block;
  }

  .dailyUserTracking tr {
    margin-bottom: 15px;
  }

  .dailyUserTracking td {
    padding-left: 50%;
    text-align: right;
    position: relative;
  }

  .dailyUserTracking td::before {
    content: attr(data-label);
    position: absolute;
    left: 10px;
    width: 50%;
    padding-left: 15px;
    font-weight: bold;
    text-align: left;
  }

  .dailyUserTracking th {
    display: none;
  }
}
