@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,600;1,900&display=swap');

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: none;
}
.site-container {
  min-height: 100vh;
}
main {
  flex: 1;
  font-family: 'Inter', sans-serif;
}

.btn-primary,
.btn-outline-primary {
  background-color: #005b27;
  color: #000000;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.rating span {
  color: #ffc000;
}

.product {
  border: 1px #404040 solid;
  margin: 1rem;
}
.product img {
  width: 100%;
  max-width: 400px;
}
.product-info {
  padding: 1rem;
}
.img-large {
  max-width: 100%;
}
.img-thumbnail {
  height: 80px;
}

.small-container {
  max-width: 600px;
}

.checkout-steps > div {
  border-bottom: 0.2rem solid #a0a0a0;
  color: #a0a0a0;
}
.checkout-steps > div.active {
  border-bottom: 0.2rem solid #005b27;
  color: #005b27;
}

.product-card {
  height: 100%; /* Ensures card takes up full height */
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  padding: 5px;
}

.product-card img {
  border-radius: 8px;
}

.product-card img {
  height: 300px; /* Adjust based on your preference */
  object-fit: cover; /* Keeps aspect ratio, might crop images */
  width: 100%; /* Ensures image takes full width of card */
}

.product-card-body {
  flex-grow: 1; /* Allows card body to take up remaining space */
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  justify-content: space-between; /* Distributes space between elements inside card body */
}

/* sidebar */
.navbar-brand {
  font-weight: bold;
}
.side-navbar {
  width: 240px;
  height: 100%;
  position: absolute;
  left: -300px;
  background-color: #100901;
  transition: 0.5s;
}

.site-container {
  transition: 0.4s;
}
.active-cont {
  margin-left: 240px;
}
.active-nav {
  left: 0;
}
.text-bold {
  font-weight: bold;
}

.green-hover-button:hover {
  background-color: #008000 !important; /* Adjust the color as needed */
  color: #ffffff !important; /* Change text color on hover if desired */
  border-color: #005b27 !important; /* Keep the border color consistent or change as needed */
}
